.components__item {

  height: 39px;
  position: relative;
  padding-top: 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #e5e5e5;
}
 .components__name  {
  font-family: @norm;
  font-size: 14px;
  color: @grey;
 }
.components__item:last-child {
  border-bottom: none;
}

.components__item--no::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 13px;
  width: 31px;
  height: 30px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
}

.components__item--yes::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 13px;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
}
@media (min-width: @tab-width) {
  .components__name {
    display: none;
  }

  .components__item {
     font-family: @norm;
  font-size: 14px;
  color: @grey;
    height: 31px;
    padding-top: 14px;
  }

  .components__item--no::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 40%;
    width: 31px;
    height: 30px;
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
  }

  .components__item--yes::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 40%;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
  }
}
