.contact__text {
  font-size: 24px;
  font-family: @light;
  font-weight: 300;
  color: @grey;
}
.contact-list__text {
  font-family: @bold;
  font-size: 18px;
  color: @grey;
}
.contact-list__link {
  font-family: @light;
  font-weight: 300;
  font-size: 24px;
  color: @purp;
}
