.contact-list {
  @media (min-width: @tab-width),  (min-width: @tab-width) {
  display: flex;
  flex-wrap: wrap;
 }
}


.contact-list__item {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.contact-list:last-child {
  @media (min-width: @tab-width) {
 width: 100%;
 }
}
 .contact__text {
  font-size: 24px;
  font-family: @light;
 }
.contact-list__text {
  font-family: @bold;
  font-size: 18px;
  color: @grey;
}
.contact-list__link {
  display: block;
  margin-top: 18px;
  padding: 0 10px 0 10px;
  font-family: @light;
  font-weight: 300;
  font-size: 24px;
  color: @purp;
   @media (min-width: @tab-width) {
padding: 0 100px 0 100px;
 }
}
@media (min-width: @tab-width) {
  .contact-list__item {
  width: 50%;
  margin:0 auto;
  }
  .contact__text {
    font-size: 40px;
    width: 370px;
    height: 85px;
    }
  }
  @media (min-width: @desk-width){
  .contact-list__item  {
  width: 33.3%;
}
  }
