.description {
  position: relative;
}
.description__text {
  font-family: @light;
  font-weight: 300;
  font-size: 24px;
  color: @grey;
}
.description__wrapper {
  margin-top: 56px;
  margin-bottom: 70px;
}
.description__img-desk {
  display: none;
}
@media (min-width: @desk-width) {
  .description__text {
    font-size: 50px;
  }
  .description__text:last-child {
    width: 680px;
    margin: 0 auto;
    padding-bottom: 0 50px 0 50px;
  }
}
