.description-list {
  background-color: #f2f2f2;
}
.description-list__title {
   font-family: @bold;
  font-size: 18px;
  color: #000000;
}
.description-list__text {
  font-family: @norm;
  font-size: 14px;
  color: @grey;
}
