.description {

  position: relative;
}
.description__text {
  font-family: @light;
  font-weight: 300;
  font-size: 24px;
  color: @grey;
}
.description__wrapper {

  padding-bottom: 70px;
  min-height: 170px;
}
.description__img-desk {
  display: none;
}
@media (min-width: @tab-width){
  .description__text {
    margin-top: -50px;
    font-size: 40px;
    margin-bottom: 0px;
  }
    .description__text:last-child {
      width: 488px;
       margin: 0 auto;
    padding: 0 100px 0 100px;
    }
}
@media (min-width: @desk-width) {
  .description__text {
    font-size: 50px;
  }
  .description__text:last-child {
    width: 680px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
  }
  .description {
    display: flex;
    flex-direction: column;

   margin-top: 438px;
   min-height: 715px;

  }
  .description__wrapper {

  padding-bottom: 70px;
  min-height: 170px;
}
}
