.footer-logo {
  margin-top: 41px;
}
.footer-logo:hover {
  fill: @purp;
}

 .footer-logo:active {
    fill: #000000;
    opacity: 0.3;
  }
.footer-logo__point,
.footer-logo__glasses2,
.footer-logo__stars
{
  display: none;
}
.footer-logo__glasses1,
.footer-logo__glasses2 {
  fill: @purp;
}
@media (min-width: @tab-width) {

.footer-logo {
  margin-top: 21px;
}
}
@media (min-width: @desk-width) {

.footer-logo__point,
.footer-logo__glasses2,
.footer-logo__stars {
  display: block;
}

.footer-logo__glasses1 {
  display: none;
}
  .footer-logo {
    display: block;
    margin-top: 38px;
  }

}
