.footer {
  padding-top: 31px;
  padding-bottom: 39px;
}

.footer__socials-container {
  width: 100%;
}

.footer__socials {
  margin: 0 auto;
}

@media (min-width: @tab-width) {
  .footer {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 36px;
  }

  .footer__socials-container {
    width: calc(100% - 200px - 254px);
  }
}

@media (min-width: @desk-width) {
  .footer {
    width: 960px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 45px;
  }
}
