.header {
  position: relative;
  min-height: 66px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
.header__logo{
  display: block;
   position: absolute;
   width: 140px;
   height: 40px;
  top: 22px;
  left: 20px;
  height: 40px;
  z-index: 5;
}
.header--nav-opened {
  background: @grey;
  padding-top: 66px;
}

.header__nav {
  width: 100%;
}

@media (min-width: @tab-width) {
  .header--nav-opened {
     padding-top: 110px;
   }
   .header {
    min-height: 110px;
  }
  .header__logo {
     position: absolute;
    bottom: 50px;
    left: 20px;
   display: block;
    height: 40px;
  }
}
@media (min-width: @desk-width) {
  .header {
    flex-direction: row;
    background: rgba(0, 0, 0, 0.3);
  }
.header--nav-opened {
  padding-top: 0;
}
.header__logo {
   margin-left: 130px;
    height: 40px;
    margin-bottom: 20px;
}
}
