.map {
  overflow: hidden;
  position: relative;
  height: 210px;
  width: 100%;
}

.map__img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.map__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.map__img-link {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.map__marker {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 66px;
  left: 107px;
  z-index: 30;
}

@media (min-width: @tab-width) {
  .map {
    margin-top: 0;
    height: 374px;
    margin-bottom: 21px;
  }
}

@media (min-width: @desk-width) {
  .map {
    margin-top: 0;
    height: 531px;
    margin-bottom: 0px;
  }

  .map__marker {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 221px;
    left: 568px;
  }
}
