.main__map {
  position: relative;
}
.map__mask {
  position: absolute;
  top: -15px;
}
.map__img {
  width: 100%;
}
.map::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 62px;
  top: -20px;
  left: 0px;
  z-index: 2;
  background-image: url("../img/bg-triangle-white.svg");
 /* background-size: cover;
  background-position: center;*/
transform: scale(-1,1);
}
.map::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 62px;
  top: -20px;
  left: 50%;
  z-index: 2;
  background-image: url("../img/bg-triangle-white.svg");
  /*background-size: cover;
  background-position: center;*/

}
 @media (min-width: @tab-width) {
  .map::before {
  content: "";
  position: absolute;
  width: 596px;
  height: 62px;
  top: 0;
  left: 0;
  background-image: url("../bg-triangle-white-footer.svg");
}
}
