.menu-toggle {
  display: block;
    padding: 0;
    width: 50px;
    height: 24px;
    background: inherit;
    border: 0;
    position: absolute;
    top: 23px;
    right: 20px;
    cursor: pointer;
}
.header--nav-opened  .menu-toggle {
  top: -46px;
}
.menu-toggle:focus {
  outline: none;
}

.menu-toggle::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.menu-toggle:hover::before {
  background-color: @purp;
  box-shadow: 0 8px 0 0 @purp, 0 16px 0 0 @purp;
}
.menu-toggle:active::before {
  background-color: @purp;
  box-shadow: 0 8px 0 0 @purp, 0 16px 0 0 @purp;
  opacity: 0.3;
}
.header--nav-opened .menu-toggle {
  &::after,
  &::before {
    top: 10px;
    right: 0;
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: none;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: @purp;
  }

  &:active::after,
  &:active::before {
    border: none;
    opacity: 0.3;
  }
}
@media (min-width: @tab-width) {
  .menu-toggle {
    display: block;
    padding: 0;
    width: 50px;
    height: 24px;
    background: inherit;
    border: none;
    position: absolute;
    bottom: 38px;
    right: 20px;
    cursor: pointer;
  }
  .header--nav-opened  .menu-toggle {
  top: -65px;
}
}
@media (min-width: @desk-width) {
  .menu-toggle {
    display: none;
  }
}
