.nav__logo {
  position: absolute;
  bottom: 16px;
  left: 20px;
  display: block;
   @media (min-width: @tab-width) {
    width: 145px;
    height: 40px;
  }
  @media (min-width: @desk-width) {
    width: 147px;
    height: 40px;
  }
}
 .nav__logo img {
  width: 74px;
  height: 28px;
  @media (min-width: @tab-width) {
    width: 145px;
    height: 40px;
  }
  @media (min-width: @desk-width) {
    width: 147px;
    height: 40px;
  }
 }
