.nav {
  position: relative;
}
/*  position: absolute;
  top: 22px;
  left: 20px;
  display: block;
  height: 40px;
  z-index: 5;
}

.nav__logo-pink-white-desktop,
.nav__logo-pink-white-mobile,
.nav__logo-pink-white-tablet {
  fill: #ffffff;
}

.nav__logo-pink-white-mobile:hover {
  fill: @purp;
}

.nav__logo-pink-white-tablet:hover {
  fill: @purp;
}

.nav__logo-pink-white-desktop:hover {
  fill: @purp;
}

.nav__logo-pink-white-tablet {
  display: none;
}

.nav__logo-pink-white-desktop {
  display: none;
}
@media (min-width: @tab-width) {
 .nav__logo-pink-white-mobile {
    display: none;
  }

  .nav__logo-pink-white-tablet {
    display: block;
  }

  .nav__logo {
    position: absolute;
    bottom: 50px;
    left: 20px;
   display: block;
    height: 40px;
  }

  .nav {
    min-height: 110px;
  }
}
@media (min-width: @desk-width) {

  .nav__logo-pink-white-desktop {
    display: block;
  }

  .nav__logo-pink-white-tablet {
    display: none;
  }
   теперь это .header__link  .nav-logo {
    margin-left: 130px;
    height: 40px;
    margin-bottom: 20px;
  }*/

