.promo {
display: flex;
flex-direction: column;
height: 733px;
  position: relative;
  top:-66px;
padding-top: 66px;
z-index: 1;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

 }
.promo::after {
 content: "";
  position: absolute;
  top: 214px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 286px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
}
.promo__screen {
  margin-top: 348px;
  padding-top: 28px;
  padding-bottom: 30px;
   @media (max-width:@tab-width) {
    background-color: @grey;
}
}
.promo__title {
  margin: 0 auto;
  font-size: 24px;
  font-family: @light;
  font-weight: 300;
  color: @white;
  margin-top: 0;
  width: 260px;
  padding: 20px 20px 0 20px;
  @media (min-width: @tab-width) {
     font-size: 40px;
}
}
.promo__link {
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  font-family: @bold;
  font-size: 18px;
  border-radius: 29px;
  border: 3px solid #FFFFFF;
  color: #ffffff;
  padding-top: 15px;
  cursor: pointer;

}

.promo__link:hover {
  background-color: #ffffff;
  color: @purp;
}
.promo__link:active{
  background-color: #ffffff;
  color: @purp;
  opacity: 0.3;
}
.promo__text {
  margin: 0 auto;
  margin-top: 70px;
  font-size: 14px;
  font-family: @light;
  font-weight: 300;
  color: @white;
  width: 280px;
  height: 34px;
}

 @media (min-width: @tab-width) {
  .promo {
background-image: url("../img/bg-back-tablet@1x.jpg");
height: 615px;
background-size: cover;
 top: -110px;
 padding-top: 110px;

  }
  .promo::after{
 content: "";
  position: absolute;
  top: 179px;
  left: -26px;
  width: 660px;
  height: 545px;
  transform: translateX(0);
  background-image: url("../img/iphone-hand-tablet@1x.png");
 background-repeat: no-repeat;
 z-index: -1;

  }

  .promo__container {
   display: flex;
   flex-direction: column;
    width: 100vw;
    position: relative;
    margin-top: 102px;
/*background-image: url("../img/iphone-hand-tablet@1x.png");
 background-repeat: no-repeat;
 background-position: top 50px;*/

  }
  .promo__screen {
  margin-top: 0px;
  padding-top: 28px;
  padding-bottom: 30px;

}

 /* .promo__container::after {
  content: "";
  position: absolute;
  top: 51px;
  left: 5px;
  z-index: 0;
  width: 660px;
  height: 519px;
  background-image: url("../img/iphone-hand-tablet@1x.png");
  background-repeat: no-repeat;
*/
  .promo__title {
    width: 230px;
    height: 127px;
margin-left: 20px;
margin-top: -17px;
padding: 0 50px 0 50px;
 line-height: 120%;
    font-size: 40px;
  }
  .promo__link {
    margin-left: 0;
margin-top: 20px;
margin-bottom: 72px;
margin-left: 20px;
  }
  .promo__text {
    width: 300px;
    height: 37px;
    font-size: 18px;
    margin-top: 42px;
    margin-bottom: 119px;
    margin-left: 20px;
  }
}
@media (min-width: @desk-width){
  .promo {

    top: -110px;
    height: 829px;
    padding-top: 110px;

  background-image: url("../img/bg-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  }
  .promo__container {
    width: 100vw;
    margin-top: 93px;
    margin-left: 134px;

/*background-image: url("../img/iphone-hand-desktop@1x.png");
 background-repeat: no-repeat;*/

  }
  .promo::after{
 content: "";
  position: absolute;
  top: 294px;
  left: 137px;
  width: 1050px;
  height: 645px;
  background-image: url("../img/iphone-hand-desktop@1x.png");
 background-repeat: no-repeat;
 z-index: -1;

  }
}




