

 .promo__header {
 background-image: url("../img/bg-back-mobile@1x.jpg");
  }
.promo__screen {
  background-color: @screengrey;
}
.promo__title {
  font-size: 24px;
  font-family: @light;
  font-weight: 300;
  color: @white;
}
.promo__link {
  color: #ffffff;
}
.promo__text {
  font-size: 14px;
  font-family: @light;
  font-weight: 300;
  color: @white;
}

