.main__review {
  background-color: #ffffff;
}

.reviews {
  display: flex;
  flex-direction: column;
}

.reviews__sign {
  display: none;
}

.reviews__list {
  z-index: 2;
 display: flex;
 flex-direction: row;
 position: relative;
 margin: 0 auto 22px;
 padding: 0;
}

.reviews__item {
  display: none;
  padding: 43px 11px 0;
}

.reviews__title {
   font-family: @bold;
  font-size: 18px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.reviews__text {
  font-family: @norm;
  font-size: 14px;
  color: @grey;
  line-height: 30px;
  padding: 0 10px;
}

.btn-review-1:checked ~ .reviews__list .review-1,
.btn-review-2:checked ~ .reviews__list .review-2,
.btn-review-3:checked ~ .reviews__list .review-3 {
display: flex;
  flex-direction: column;;
}

.reviews__slider-control {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.reviews__slider-control label{
   width: 6px;
  height: 6px;
  background-color: @grey;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.btn-review-1:checked ~ .reviews__slider-control label[for="btn-review-1"],
.btn-review-2:checked ~ .reviews__slider-control label[for="btn-review-2"],
.btn-review-3:checked ~ .reviews__slider-control label[for="btn-review-3"]{
  width: 6px;
  height: 6px;
  position: relative;
  bottom: 3px;
  background-color: #ffffff;
  border: 3px solid @grey;
  border-radius: 50%;
  opacity: 1;
}

.reviews__arrow-left,
.reviews__arrow-right {
  display: none;
}

@media (min-width: @tab-width) {
 .reviews__title {
order: 2;
margin-bottom: 0;
  }

  .reviews__list {
    margin: 109px 20px 0 20px;
  }

   .reviews__sign {
    order: 3;
      display: block;
      font-family: @norm;
      font-size: 14px;
    }

  .reviews__text {
    order: 1;
    font-size: 18px;
   padding: 0;
   min-width: 620px;
  }

  .reviews__slider-control {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 20px;
}
}
@media (min-width: @desk-width) {
  .reviews{

    min-height: 405px;
    position: relative;
  }
  .reviews__list {
    margin-top: 193px;
  }
  .reviews__text {
    width: 688px;
    height: 73px;
  }
  .reviews:after {
    content: "";
    position: absolute;
    top: 108px;
    left: 49%;
    width: 79px;
    height: 63px;
    background-image: url("../img/icon-quotes.svg");
    background-size: cover;

    }
    .reviews__arrow-left {
      display: block;
       position: absolute;
    top: 227px;
    left: 130px;
    width: 22px;
    height: 41px;
    z-index: 3;
    opacity: 0.3;
    }
    .reviews__arrow-right {
      display: block;
    position: absolute;
      top: 227px;
    right:  130px;
    width: 22px;
    height: 41px;
    z-index: 3;
    opacity: 0.3;
  }
   .reviews__arrow-left:hover ,
   .reviews__arrow-right:hover{
    opacity: 1;

   }

   .reviews__arrow-left:focus,
   .reviews__arrow-right:focus {
    border: 2px solid #000000;
    fill: red;
   }

    .reviews__item{
        margin: 0 auto;
    }
    .reviews__slider-control {
      display: none;
    }
    .reviews__text {
      width: 688px;
      height: 73px;
      font-size: 18px;

    }

  }
