.socials-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-content: space-between;
  width: 172px;
  margin-left: 74px;
}
.socials-icon-link {
  display: block;
  position: relative;

  width: 48px;
  height: 48px;
  border: 3px solid #283645;
  border-radius: 100%;
}
.socials-icon-link--twitter::after {

  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  fill: red;
  position: absolute;
  top: 15px;
  left: 15px;
  }

.socials-icon-link--facebook::after {

  position: absolute;
  top: 15px;
  left: 15px;
  content: "";
  width: 18px;
  height: 15px;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  }
.socials-icon-link--youtube::after {

  position: absolute;
 top: 15px;
 left: 15px;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;

  }


