.tariff {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0;
}

.tariff__list {
  padding-left: 0;
}

.tariff__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  border: 1px solid @light-grey;
  border-right: none;
  border-top: none;
}

.tariff__item:first-child {
  display: none;
}

.tariff__item--hit {
  position: relative;
}

.tariff__item--hit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 10;
  background-image: url("../img/bg-hit-tablet.svg");
  background-repeat: no-repeat;
}

.tariff__item--hit:after {
  content: "хит";
  color: #ffffff;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.tariff__header {
  background-color: @grey;
  height: 75px;
  padding-top: 19px;
}

.tariff__header1 {
  background-color: #f2f2f2;
  min-height: 94px;
}

.tariff__title {
  font-family: @norm;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
}

.tariff__cost {
  color: #ffffff;
}
@media (min-width: @tab-width) {
  .tariff__item:first-child {
    display: block;
  }

  .tariff__item {
    width: 25%;
  }

  .tariff__header {
    background-color: @grey;
    height: 60px;
    padding-top: 19px;
  }

  .tariff__header1 {
    min-height: 79px;
  }

  .tariff__title {
    font-family: @bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 6px;
  }
}
