html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: OpenSans ,sans-serif;

   }
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}
img {
  max-width: 100%;
  height: auto;
}
input:hover,
textarea:hover {
  border: 2px solid @grey;
}
input:active,
textarea:active
 {
  border: 2px solid @purp;
}
