@norm: 'OpenSans', Arial, sans-serif;
@bold: 'OpenSansBold';
@light:'OpenSansLight';
@grey: #283645;
@white: #ffffff;
@purp: #D22856;
@screengrey: #1D2631;
@green: #2AAB6D;
@mob-width:360px;
@tab-width:767px;
@desk-width:1200px;
@light-grey:#e5e5e5;
