.app {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.app__title {
  font-size: 14px;
  font-family: @norm;
  color: @purp;
  text-transform: uppercase;
  width: 178px;
  margin: 0 auto 0;
  padding-top: 38px;
  margin-bottom: 42px;
}

.app__label {
  font-family: @norm;
  font-size: 18px;
  color: @grey;
  display: block;
  padding-left: 90px;
  text-align: left;
  position: relative;
  margin-bottom: 51px;
  cursor: pointer;
}

.app__label:last-child {
  margin-bottom: 48px;
}

.app__label::before {
  content: "";
  width: 37px;
  height: 37px;
  position: absolute;
  top: -9px;
  left: 21px;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.app__label:hover::before {
  border: 2px solid @grey;
}

input[type="radio"]:active + .app__label::before {
  border: 2px solid @purp;
}

input[type="radio"]:focus + .app__label::before {
  border: 2px solid @grey;
}

input[type="radio"]:checked + .app__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 34px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 1;
  background-color: @purp;
}

@media (min-width: @tab-width) {
  .app {
    margin: 16px 22px 0;
    border: 2px solid #e5e5e5;
    padding-top: 59px;
    position: relative;
    background: none;
    padding-bottom: 14px;
  }

  .app__label::before {
    top: -7px;
    left: 56px;
  }

  input[type="radio"]:checked + .app__label::after {
    top: 6px;
    left: 69px;
  }

  .app__title {
    padding-top: 0;
    width: 368px;
    height: 38px;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    background: #ffffff;
  }

  .app__label {
    padding-left: 117px;
  }
}

@media (min-width: @desk-width) {
  .app {
    height: auto;
    width: 428px;
    margin: 0;
    padding-bottom: 12px;
  }

  .app__label {
    padding-left: 133px;
    margin-bottom: 53px;
  }

  .app__label::before {
    left: 72px;
    top: -7px;
  }

  input[type="radio"]:checked + .app__label::after {
    top: 6px;
    left: 85px;
  }
}
