.main-form__title {
 background-image: url("../img/bg-back-mobile@1x.jpg");
  min-height: 200px;
  padding-top: 102px;
 color: #ffffff;
 font-family: @light;
 font-weight: 300;
}
.main-form__text {
  font-family: @norm;
  font-size: 14px;
  color: @grey;
}
.main-form__btn,
.fail__btn,
.success__btn {
  font-family: @bold;
  font-size: 18px;
  width: 276px;
  height: 59px;
  background-color: @green;
  color: @white;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
}
