.main-form__title {
  background-image: url("../img/webp/bg-back-mobile@1x.webp");
  min-height: 122px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: @light;
  font-weight: 300;
  margin-top: 0;
  position: relative;
  margin-top: -70px;
  font-size: 24px;
  line-height: 33px;
  padding: 94px 10px 24px;
  margin-bottom: 44px;
  background-color: #000;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/webp/bg-back-mobile@2x.webp");
  }
}

.main-form__title-text {
  width: 250px;
  margin: 0 auto;
  display: block;
}

.main-form__text-container {
  font-family: @norm;
  font-size: 14px;
  color: @grey;
  line-height: 30px;
  margin: 0 20px 16px;
}

.main-form__text2 {
  display: none;
}

.main-form-comment__text {
  font-family: @norm;
  font-size: 14px;
  color: @grey;
}

@media (min-width: @tab-width) {
  .main-form {
    display: flex;
    flex-direction: column;
  }

  .main-form__title-text {
    width: 492px;
    margin: 0 auto;
    display: block;
  }

  .main-form__title {
    background-image: url(../img/webp/bg-back-tablet@1x.webp);
    min-height: 203px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "OpenSansLight";
    font-size: 50px;
    line-height: 68px;
    font-weight: 300;
    margin-top: -109px;
    position: relative;
    padding: 175px 21px 59px;
    margin-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/webp/bg-back-tablet@2x.webp");
    }
  }

  .main-form__text-container {
    font-size: 18px;
    line-height: 30px;
    width: 502px;
    margin: 92px auto 0;
  }

  .main-form__text1,
  .main-form__text2 {
    font-family: @norm;

    color: @grey;
  }

  .main-form__text1 {
    width: 490px;
  }

  .main-form__text2 {
    display: block;
  }
}

@media (min-width: @desk-width) {
  .main-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .main-form__title {
    background-image: url("../img/webp/bg-back-desktop@1x.webp");
    min-height: 224px;
    padding: 170px 200px 0;
    color: #ffffff;
    font-family: @light;
    font-weight: 300;
    font-size: 50px;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/webp/bg-back-desktop@2x.webp");
    }
  }

  .main-form__title-text {
    display: block;
    width: 760px;
    margin: 0 auto;
  }

  .main-form__text-container {
    width: 792px;
    margin: 92px auto 78px;
  }

  .main-form__text1 {
    display: inline;

  }

  .main-form__text2 {
    display: inline;
    margin-bottom: 68px;
    margin-top: -7px;
  }
}
