.main-form-comment {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
  margin-top: 52px;
}
.main-form-comment__btn {
  font-family: @bold;
  font-size: 18px;
  width: 276px;
  height: 59px;
  margin: 0 auto;
  background-color: @green;
  color: @white;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
}
.main-form-comment__star {
  color: @purp;
}
.main-form-comment__text-big {
  display: none;
}
@media (min-width: @tab-width) {
  .main-form-comment  {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .main-form-comment__btn {
    margin: 0;
  }
    }
@media (min-width: @desk-width) {
.main-form-comment__text {
  display: none;
}
.main-form-comment__text-big {
  display: block;
}
}
