.modal--active {
  display: block;
}

.modal__btn {
  font-family: @bold;
  font-size: 18px;
  width: 276px;
  height: 59px;
  background-color: @green;
  color: @white;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  margin-top: 49px;
  cursor: pointer;
}

@media (min-width: @desk-width) {
  .modal__btn {
    margin-top: 25px;
  }
}
