.userfiltr {
  background-color: #f2f2f2;
  /*display:flex;
  flex-direction: column;*/
  display: grid;
}
.userfiltr__text {
  margin:0 auto;
  font-size: 14px;
  font-family: @norm;
  color: @purp;
  width: 218px;
  height: 29px;
}
