

@media (min-width: @tab-width) {
  .usertext {
  display: flex;
  flex-direction: column;
  margin: 65px 22px 0 22px;
}
 .usertext__emotion {
  min-height: 189px;
  font-family: @norm;
  font-size: 18px;
  color: @grey;
  margin: 0 60px 0 60px;
 }
 .usertext__title {
  font-family: @norm;
  font-size: 14px;
  color: @purp;
 }
}
