.users {
  display: flex;
  flex-direction: column;
}
@media (min-width: @tab-width){
.users__username {
  order: 1;
}
.users__app {
  order: 2;
}
.users__userfiltr {
  order: 4;
}
.users__usercontact {
  order: 3;
}
.users__usertext {
  order: 5;
}
}
@media (min-width: @desk-width) {
}


