.usercontact {
  display: flex;
  flex-direction: column;
  min-height: 287px;
  background-color: #ffffff;
}

.usercontact__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}

.usercontact__wrapper-item {
  display: flex;
  flex-direction: column;
}

.usercontact__label {
  display: block;
  margin-left: 46px;
  margin-bottom: 12px;
  font-family: @norm;
  font-size: 14px;
  color: @purp;
  text-transform: uppercase;
  text-align: left;
}

.usercontact__title {
  display: none;
  margin: 0 auto;
}

.usercontact__input {
  display: flex;
  padding-left: 20px;
  width: 100%;
  height: 63px;
  font-family: @norm;
  font-size: 18px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
}

.usercontact__wrapper-item-sqwuare {
  display: none;
}

.usercontact__wrapper-input {
  margin: 0 19px 20px 20px;
}

@media (min-width: @tab-width) {
  .usercontact {
    display: flex;
    flex-direction: column;
    min-height: auto;
    border: 2px solid #e5e5e5;
    margin: 65px 22px 0;
    padding-bottom: 0;
  }

  .usercontact__title {
    display: block;
    font-family: @norm;
    font-size: 14px;
    color: @purp;
    position: relative;
    background-color: #ffffff;
    width: 260px;
    top: -10px;
    z-index: 1;
    text-transform: uppercase;
  }

  .usercontact__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  .usercontact__wrapper-item {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .usercontact__wrapper-item:last-child {
    margin-top: 23px;
    margin-bottom: 20px;
  }

  .usercontact__wrapper-input {
    order: 1;
    min-height: 59px;
    margin: 0 58px 15px;
    box-sizing: border-box;
    border-radius: 1px;
    position: relative
  }

  .usercontact__input {
    order: 1;
    margin: 0;
    border: 2px solid #E5E5E5;
    width: 100%;
    height: 64px;
    padding: 0 0 0 20px;
    position: relative;
    z-index: 10;
    background: transparent;
  }

  .usercontact__label {
    width: 129px;
    margin-left: 77px;
    order: 2;
  }

  .usercontact__img {
    position: absolute;
    top: 22px;
    left: 22px;
    fill: @purp;
  }

  .usercontact__wrapper-item-sqwuare {
    width: 59px;
    height: 60px;
    background-color: #e5e5e5;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
    display: block;
  }

  .error {
    border-color: red;
  }
}

@media (min-width: @desk-width) {
  .usercontact__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
  }

  .usercontact {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 158px;
    border: 2px solid #e5e5e5;
    margin: 65px 0 0;
  }

  .usercontact__label {
    margin-left: 17px;
    width: auto;
  }

  .usercontact__input {
    margin: 0;
    border: 0;
    width: 100%;
    padding: 0 60px 0 20px;
    height: 63px;
    border: 2px solid #e5e5e5;
    position: relative;
    z-index: 10;
    background: transparent;
  }

  .usercontact__wrapper-input {
    margin: 0 0 14px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 1px;
    position: relative;
  }

  .usercontact__wrapper-item {
    width: 371px;
  }

  .usercontact__wrapper-item:last-child {
    margin-top: 0;
  }

  .usercontact__wrapper-item-sqwuare {
    width: 60px;
    height: 59px;
    background-color: #e5e5e5;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
  }

  .error {
    border-color: red;
  }

  .userfiltr__title {
    top: -9px;
    margin: 0 auto;
  }
}
