.edit {
display: flex;
flex-direction: row;
}
.edit__item {
  min-height: 100px;
}
@media (min-width: @tab-width) {
  .edit {
    flex-direction: column;
  }
 .edit__item  {
  display: flex;
  flex-direction: row;
 }
}
