.form-post {
  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
  min-height: 757px;
}
.posts__imgphone {
  margin-top: 20px;
  margin: 20px 20px 0 20px;
}
.form-post__list {
  padding: 0;
}
.form-post__buttons {
display: flex;
flex-direction: column;
margin: 0 auto;
margin-top: 73px;
width: 280px;
}
.form-post__btn {
  font-family: @bold;
  font-size: 18px;
  color: @purp;
  width: 280px;
  height: 55px;
  border: 3px solid @purp;
box-sizing: border-box;
border-radius: 30px;
cursor: pointer;
}
.form-post__btn:hover {
  color: #ffffff;
  background-color: @purp;
}
.form-post__btn:active {
  opacity: 0.3;

}
.form-post__btn--disabled {
  font-family: @bold;
  font-size: 18px;
  color: @grey;
  display: block;
  margin-top: 12px;
  width: 280px;
  height: 55px;
  cursor: pointer;
  border: 3px solid @grey;
box-sizing: border-box;
border-radius: 30px;
opacity: 0.1;
padding-top: 10px;
}
@media (min-width: @tab-width) {
  .form-post {
    display: flex;
    flex-direction: row;

    min-height: 511px;
  }
  .posts__imgphone  {
    margin-top: 57px;

    width: 300px;
    height: 400px;
  }
   .form-post__buttons {
    margin-top: 35px;
    margin-left: 47px;
   }
   .form-post__btn {
    width: 266px;

}
.form-post__btn--disabled {
   width: 266px;
   margin-top: 23px;

}
}
@media (min-width: @desk-width) {
  .form-post {
    margin: 0 130px 0 130px;
  }
.posts__imgphone {
  margin: 57px 0 0 80px;
}
 .form-post__buttons {
  flex-direction: row;
  width: 410px;
  justify-content: space-between;
   margin-top: 67px;
    margin-left: 90px;
 }
 .form-post__btn--disabled {
  margin-top: 0;
 }
 .form-post__btn {
  width: 183px;
  height: 55px;
 }

}
