.form-post {
  background-color: #f2f2f2;

}
.form-post__buttons {
display: flex;
flex-direction: column;
}
.form-post__btn {
  font-family: @bold;
  font-size: 18px;
  color: @purp;
  width: 280px;
  height: 55px;
  border: 3px solid @purp;
box-sizing: border-box;
border-radius: 30px;
}
.form-post__link {
  font-family: @bold;
  font-size: 18px;
  color: @grey;
  display: block;
  width: 280px;
  height: 55px;
  border: 3px solid @grey;
box-sizing: border-box;
border-radius: 30px;
opacity: 0.1;
}
@media (min-width: @tab-width) {
  .form-post {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: @desk-width) {
 .form-post__buttons {
  flex-direction: row;
 }
}
