.main-photo__title {
  font-family: @light;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}
.main-photo__text {

  font-size: 14px;
  color: @grey;
}
