.main-photo__title {
  font-family: @light;
  font-weight: 300;
  font-size: 24px;
  height: 237px;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 0px;
  margin: 0 auto;
  padding-top: 102px;
  box-sizing: border-box;
  color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.main-photo__text1 {
 font-family: @norm;
  font-size: 14px;
  color: @grey;
  width: 280px;
  height: 70px;
  margin: 0 auto;
   margin-top: 54px;
   margin-bottom: 54px;
}
.main-photo__text2 {
   font-family: @norm;
  font-size: 14px;
  color: @grey;
  width: 160px;
  height: 71px;
  margin: 0 auto;
   margin-top: 49px;
   margin-bottom: 52px;
   padding:0 60px 0 60px;
}
.main-photo__list {
  padding-left: 0;
}
 @media ( min-width: @tab-width) {
  .main-photo__title {
  font-family: @light;
  font-weight: 300;
  font-size: 50px;
  min-height: 446px;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 0px;
  margin: 0 auto;
  padding-top: 102px;

  color: #ffffff;
  background-image: url("../img/bg-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

   position: relative;
    top:-110px;
    padding-top: 200px;
      }
  .main-photo__text1{
    width: 440px;
    height: 43px;
    margin-top: 25px;
      margin-bottom: 85px;
    font-size: 18px;
    padding: 0 90px 0 90px;
  }
 }
