.posts {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
  list-style: none;
}

.posts__item {
  margin-bottom: 21px;
  position: relative;
}

.posts__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 20px;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 18px;
}

.posts__like {
  position: relative;
  margin-top: 10px;
  margin-bottom: 21px;
}

.posts__like1 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 21px;
}

.posts__img {
  display: block;
  width: 100%;
}

.posts__author-name {
  margin-bottom: 1px;
  font-size: 14px;
  line-height: 24px;
}

.posts__text {
  padding: 0;
  margin: 0;
  line-height: 24px;
  min-height: 26px;
}

.posts__photo-link {
  display: block;
  padding: 0 20px;
}

.posts__author {
  margin-bottom: 3px;
}

.posts__text1 {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding: 0 11px 0 0;
}

.posts__name {
  font-family: @bold;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.posts__text,
.posts__time {
  font-family: @norm;
  font-size: 14px;
  color: @grey;
}

.posts__time {
  font-family: @light;
  text-transform: uppercase;
  font-size: 12px;
}

.posts__img-photo-day {
  width: 100vw;
  display: block;
}

.item--photo-day {
  width: 100%;
  margin: 0;
}

.item--photo-day .posts__description {
  margin: 0 20px;
  padding-top: 18px;
}

.item--photo-day::before {
  content: "панорама дня";
  color: #ffffff;
  font-size: 12px;
  display: block;
  width: 140px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 22px;
  background-color: #d22856;
  text-transform: uppercase;
  padding-top: 9px;
}

@media (min-width: @tab-width) {
  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px 48px;
  }

  .posts__description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    height: auto;
    padding-top: 22px;
    padding-left: 32px;
  }

  .posts__photo-link {
    padding: 0;
  }

  .posts__text {
    width: 100%;
    margin: 0;
    min-height: 57px;
  }

  .posts__like {
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
    width: calc(100% - 15px);
    position: absolute;
    bottom: 24px;
    padding-left: 16px;
    display: block;
  }

  .posts__like1 {
    order: 2;
    position: absolute;
    right: 11px;
    top: 16px;
    display: flex;
    flex-direction: row;
  }

  .posts__text1 {
    order: 3;
    width: 100%;
  }

  .posts__item {
    background: #f2f2f2;
    width: 48.5%;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }

  .item--photo-day {
    width: 100%;
    margin-bottom: 50px;
    background: none;
    padding: 0;
  }

  .posts__img-photo-day {
    min-height: 509px;
  }

  .item--photo-day::before {
    content: "панорама дня";
    font-family: @bold;
    color: #ffffff;
    font-size: 12px;
    display: block;
    width: 140px;
    height: 28px;
    padding-top: 8px;
    position: absolute;
    top: 55px;
    right: 20px;
    background-color: @purp;
  }

  .posts__img {
    width: 100%;
  }

  .item--photo-day .gh {
    width: 30%;
    margin-bottom: 3px;
  }

  .item--photo-day .posts__description {
    margin: 0 20px;
    padding-top: 21px;
    padding-left: 30px;
    position: relative;
    display: block;
    padding-bottom: 25px;
    background: #f2f2f2;
  }
}

@media (min-width: @desk-width) {
  .posts {
    margin: 0 auto;
    width: 940px;
  }

  .posts__item {
    width: 300px;
    margin-bottom: 54px;
    padding-bottom: 49px;
  }

  .posts__img {
    height: 400px;
  }

  .posts__description {
    margin: 0;
    height: auto;
    padding-top: 23px;
    padding-left: 27px;
    padding-right: 10px;
  }

  .posts__like {
    left: -5px;
    bottom: 23px;
  }

  .posts__text {
    min-height: 57px;
    font-size: 14px;
    line-height: 24px;
  }
}
