.item--disabled .range {
  position: relative;
  display: none;

}
.range {
  position: relative;
   margin-top: 39px;
  display: block;
}
.range__scale {
  width: 240px;
  height: 2px;
  background-color: @grey;
  position: absolute;
}
.range__haddle{
width: 14px;
height: 14px;
border-radius: 50%;
border: 1px solid @purp;
position: absolute;
top: -7px;
left: 180px;
z-index: 1;
background-color: #ffffff;
}
@media (min-width: @tab-width) {
  .range {
    margin-left: 32px;
    display: block;
    position: relative;
    top: -30px;
  }
  .item--disabled .range  {
    display: block;
  }
.range__scale {
  width: 202px;
  height: 2px;
  background-color: @grey;
  position: absolute;
}
}
@media (min-width: @tab-width) {
  .range {
    margin-left: 32px;
    display: block;
    position: relative;
    top: -30px;
  }
}
