.range {
  position: relative;
  margin-top: 39px;
  display: block;
}

.range__scale {
  width: 240px;
  height: 2px;
  background-color: @grey;
  position: absolute;
}

.range__haddle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid @purp;
  position: absolute;
  top: -7px;
  left: 180px;
  z-index: 1;
  background-color: #ffffff;
}

.range__haddle:active {
  background-color: @purp;
}
@media (min-width: @tab-width) {
  .range {
    margin-left: 32px;
    display: block;
    position: relative;
    top: -30px;
  }

   .range__scale {
    width: 202px;
    height: 2px;
    background-color: @grey;
    position: absolute;
  }
}
@media (min-width: @desk-width) {
  .range {
    margin-left: 32px;
    display: block;
    position: relative;
    top: -30px;
  }

  .range__scale {
    width: 335px;
  }
}
