.range {
  position: relative;
  display: none;
}
.edit__item--on .range {
  display: block;
}
.range__scale {
  width: 240px;
  height: 2px;
  background-color: @grey;
  position: absolute;
}
.range__haddle{
width: 14px;
height: 14px;
border-radius: 50%;
border: 1px solid @purp;
position: absolute;
top: 0;
left: 0;
}
